@import '../utilities/variables';

form {
  font-weight: $weight-bold;
  letter-spacing: -0.0156;
  line-height: 1.8rem;
  color: $red;
  position: relative;

  input,
  textarea {
    width: 100%;
    border: 0;
    border-bottom: 1px solid $very-dark-blue;
    outline: 0;
    box-sizing: border-box;
    font-family: $font-family;
    font-size: 2rem;
    font-weight: $weight-bold;
    letter-spacing: -0.0156;
    line-height: 2.3rem;
    color: $light-grey;
    padding-left: 3rem;
    padding-bottom: 2.4rem;

    &:focus {
      color: $very-dark-blue;
      border-bottom-width: 3px;

      &::placeholder {
        color: $very-dark-blue;
      }
    }

    &::placeholder {
      color: $light-grey;
    }

    &.error {
      border-bottom-color: $red;
      color: $red;
      opacity: 0.5;

      &::placeholder {
        color: $red;
        opacity: 0.5;
      }
    }
  }

  input {
    height: 4.7rem;
    margin-bottom: 4rem;
  }

  textarea {
    height: 10.1rem;
    resize: none;
  }

  .error-message {
    display: block;
    position: relative;
    top: -7rem;
    right: 2.5rem;
    text-align: right;

    &.error-message-textarea {
      top: -3.5rem;
    }
  }

  .btn-arrow {
    position: absolute;
    top: 98%;
    right: 0;
  }
}
