@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #60636d;
}

.h1-lg {
  font-family: "Spartan", sans-serif;
  font-size: 12rem;
  font-weight: 700;
  line-height: 20rem;
  letter-spacing: -0.025em;
  color: #eeeff4;
}

@media (min-width: 1024px) {
  .h1-lg {
    font-size: 20rem;
  }
}

.h1-sm {
  font-family: "Spartan", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 4.8rem;
  letter-spacing: -0.025em;
  color: #1b1d23;
}

@media (min-width: 768px) {
  .h1-sm {
    font-size: 8rem;
    line-height: 8rem;
  }
}

h2 {
  font-family: "Spartan", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.8rem;
  letter-spacing: -0.0357em;
  color: #1b1d23;
}

@media (min-width: 768px) {
  h2 {
    font-size: 5.6rem;
    line-height: 5.6rem;
  }
}

h3 {
  font-family: "Spartan", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: #1b1d23;
}

.text-white {
  color: white;
}

header {
  position: relative;
}

header .header-label {
  display: none;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  position: absolute;
  left: 6.5rem;
}

header .header-label span {
  letter-spacing: 1em;
  color: #c8ccd8;
}

header .header-label span::before {
  content: '';
  width: 10.4rem;
  border-bottom: 1px solid #c8ccd8;
  display: inline-block;
  margin: 0 4.8rem 0.3rem 0;
}

header nav {
  padding: 3.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo {
  width: 7.7rem;
}

header nav .menu-togglers .icon-close {
  display: none;
}

header nav .nav-links {
  display: none;
  position: fixed;
  padding: 4.8rem 4.8rem 5.3rem;
  background: #eeeff4;
  width: 65.86667%;
  top: 9.6rem;
  right: 0;
  z-index: 999;
}

header nav .nav-links ul li {
  margin-bottom: 3.7rem;
}

header nav .nav-links ul li:nth-of-type(3) {
  margin-bottom: 0;
}

header nav .nav-links ul li a {
  font-size: 1.8rem;
  font-weight: 700;
  color: #1b1d23;
  text-decoration: none;
}

@media (min-width: 768px) {
  header .header-label {
    display: block;
  }
  header nav {
    padding: 5.6rem 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  header nav .logo {
    margin-right: 7.9rem;
    width: auto;
  }
  header nav .menu-togglers {
    display: none;
  }
  header nav .nav-links {
    display: block;
    position: static;
    padding: 0;
    background: none;
    margin-top: 0.5rem;
  }
  header nav .nav-links ul li {
    margin-right: 4.8rem;
    display: inline-block;
  }
  header nav .nav-links ul li:nth-of-type(3) {
    margin-right: 0;
  }
  header nav .nav-links ul li a {
    color: #7d828f;
  }
}

@media (min-width: 1024px) {
  header .header-label {
    left: 10rem;
  }
  header nav {
    padding: 5.6rem 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  header nav .logo {
    margin-right: 9.5rem;
  }
  header nav .menu-togglers {
    display: none;
  }
  header nav .nav-links {
    display: block;
    position: static;
    padding: 0;
    background: none;
  }
  header nav .nav-links ul li {
    margin-right: 4.8rem;
    display: inline-block;
  }
  header nav .nav-links ul li:nth-of-type(3) {
    margin-right: 0;
  }
  header nav .nav-links ul li a {
    color: #7d828f;
  }
}

.slider {
  position: relative;
}

.slider .slider-indicators {
  position: absolute;
  bottom: 0;
  left: -8rem;
  z-index: 999;
  display: none;
}

.slider .slider-indicators ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .slider-indicators ol li .btn-num {
  border-right: 1px solid #c8ccd8;
}

.slider .slider-indicators ol li:last-of-type .btn-num {
  border: 0;
}

.slider .slider-inner .slider-item {
  position: relative;
  display: none;
}

.slider .slider-inner .slider-item.active {
  display: block;
}

.slider .slider-inner .slider-item .slider-bg {
  height: 56rem;
}

.slider .slider-inner .slider-item .slider-bg-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(../assets/home/mobile/image-hero-paramour.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../assets/home/mobile/image-hero-paramour.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slider .slider-inner .slider-item .slider-bg-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(../assets/home/mobile/image-hero-seraph.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../assets/home/mobile/image-hero-seraph.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slider .slider-inner .slider-item .slider-bg-3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(../assets/home/mobile/image-hero-federal.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../assets/home/mobile/image-hero-federal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slider .slider-inner .slider-item .slider-bg-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(../assets/home/mobile/image-hero-trinity.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../assets/home/mobile/image-hero-trinity.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slider .slider-inner .slider-item .slider-content {
  position: absolute;
  top: 25%;
  width: 82.93333%;
  left: 8.53333%;
}

.slider .slider-inner .slider-item .slider-content .h1-sm {
  margin-bottom: 1rem;
}

.slider .slider-inner .slider-item .slider-content p {
  min-height: 15.7rem;
}

@media (min-width: 768px) {
  .slider .slider-inner .slider-item .slider-bg {
    height: 72rem;
  }
  .slider .slider-inner .slider-item .slider-bg-1 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(../assets/home/tablet/image-hero-paramour.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../assets/home/tablet/image-hero-paramour.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slider .slider-inner .slider-item .slider-bg-2 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(../assets/home/tablet/image-hero-seraph.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../assets/home/tablet/image-hero-seraph.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slider .slider-inner .slider-item .slider-bg-3 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(../assets/home/tablet/image-hero-federal.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../assets/home/tablet/image-hero-federal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slider .slider-inner .slider-item .slider-bg-4 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(../assets/home/tablet/image-hero-trinity.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../assets/home/tablet/image-hero-trinity.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slider .slider-inner .slider-item .slider-content {
    width: 82.89703%;
    left: 10.12216%;
  }
}

@media (min-width: 1024px) {
  .slider .slider-indicators {
    display: block;
  }
  .slider .slider-inner .slider-item .slider-bg-1 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(../assets/home/desktop/image-hero-paramour.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../assets/home/desktop/image-hero-paramour.jpg);
  }
  .slider .slider-inner .slider-item .slider-bg-2 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(../assets/home/desktop/image-hero-seraph.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../assets/home/desktop/image-hero-seraph.jpg);
  }
  .slider .slider-inner .slider-item .slider-bg-3 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(../assets/home/desktop/image-hero-federal.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../assets/home/desktop/image-hero-federal.jpg);
  }
  .slider .slider-inner .slider-item .slider-bg-4 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(../assets/home/desktop/image-hero-trinity.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../assets/home/desktop/image-hero-trinity.jpg);
  }
  .slider .slider-inner .slider-item .slider-content {
    left: 17.11712%;
  }
  .slider .slider-inner .slider-item .slider-content p {
    width: 44.5rem;
  }
}

.btn-text {
  background: #1b1d23;
  padding: 2.3rem 3.2rem 2.6rem 3.1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
}

.btn-text:hover {
  background: #60636d;
}

.btn-text:active {
  background: #c8ccd8;
}

.btn-text span {
  margin-right: 2.4rem;
}

.btn-text img {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.btn-arrow {
  width: 8rem;
  height: 8rem;
  border: 0;
  outline: 0;
  background: #1b1d23;
}

.btn-arrow:hover {
  background: #60636d;
}

.btn-arrow:active {
  background: #c8ccd8;
}

.btn-num {
  width: 8rem;
  height: 8rem;
  border: 0;
  outline: 0;
  background: white;
  color: #7d828f;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}

.btn-num:hover {
  background: #eeeff4;
}

.btn-num.active {
  background: #1b1d23;
  color: white;
}

footer {
  background: #eeeff4;
}

footer nav {
  padding: 9.1rem 0 16.1rem 0;
  position: relative;
}

footer nav .logo {
  width: 5.8rem;
  padding: 4.8rem 3.2rem;
  background: #1b1d23;
  position: absolute;
  top: -6rem;
  left: calc((100% - 12rem) / 2);
}

footer nav .navlinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer nav .navlinks ul li {
  margin-bottom: 4rem;
}

footer nav .navlinks ul li:last-of-type {
  margin: 0;
}

footer nav .navlinks ul li a {
  font-weight: 700;
  color: #7d828f;
  text-decoration: none;
}

footer nav .btn-text {
  position: absolute;
  bottom: 4.8rem;
  left: calc((100% - 25.5rem) / 2);
}

@media (min-width: 768px) {
  footer {
    width: calc(100% - 12rem - 12.6rem);
    height: 12rem;
    margin-left: 12rem;
  }
  footer nav {
    padding: 4.7rem 0 0 4rem;
  }
  footer nav .logo {
    top: 0;
    left: -12rem;
  }
  footer nav .navlinks ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer nav .navlinks ul li {
    margin: 0;
    margin-right: 5.7rem;
  }
  footer nav .btn-text {
    top: 2.4rem;
    right: -12.6rem;
    bottom: auto;
    left: auto;
  }
}

@media (min-width: 1024px) {
  footer {
    width: calc(100% - 2 * 16.5rem - 20rem - 12.6rem);
    height: 20rem;
    margin-left: calc(20rem + 165 / 1440 * 100%);
  }
  footer nav {
    padding: 8.6rem 0 0 8.5rem;
  }
  footer nav .logo {
    width: 9.6rem;
    padding: 8rem 5.2rem;
    left: -20rem;
  }
  footer nav .btn-text {
    top: 6.4rem;
  }
}

.card {
  position: relative;
  height: 24rem;
}

.card .h1-lg {
  opacity: 0.5;
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 20rem;
  display: none;
}

.card .project-caption {
  position: absolute;
  bottom: 3.3rem;
  left: 2.4rem;
}

.card .project-caption p {
  opacity: 0.75;
}

@media (min-width: 768px) {
  .card .h1-lg {
    display: block;
  }
  .card .project-caption {
    bottom: 4.9rem;
    left: 4rem;
  }
}

@media (min-width: 1024px) {
  .card {
    height: 56rem;
  }
  .card .h1-lg {
    top: 2.7rem;
    right: -1.5rem;
  }
}

body {
  max-width: 1440px;
  margin: auto;
}

.container {
  width: 82.93333%;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    width: 74.60938%;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 77.08333%;
  }
}

@media (min-width: 768px) {
  #hero {
    width: 74.60938%;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  #hero {
    width: 77.08333%;
    margin: auto;
  }
}

#welcome {
  padding: 7.2rem 0 15rem 0;
}

#welcome .container::before {
  content: '';
  width: 3.3rem;
  border-bottom: 1px solid #c8ccd8;
  display: inline-block;
}

#welcome .container .h1-lg {
  display: none;
}

#welcome .container .welcome-content h2 {
  margin: 6.7rem 0 3.3rem 0;
}

#welcome .container .welcome-content p {
  margin-bottom: 2.5rem;
}

#welcome .container .welcome-content p:last-of-type {
  margin: 0;
}

#welcome .container img {
  display: none;
}

@media (min-width: 768px) {
  #welcome {
    padding: 6.3rem 0 20.8rem 0;
  }
  #welcome .container::before {
    display: none;
  }
  #welcome .container .h1-lg {
    display: block;
  }
  #welcome .container .welcome-content h2 {
    margin: 5.2rem 0 4.9rem 0;
  }
}

@media (min-width: 1024px) {
  #welcome {
    padding: 7.7rem 0 20rem 0;
    height: 67.8rem;
  }
  #welcome .container {
    position: relative;
    height: 100%;
  }
  #welcome .container .welcome-content {
    width: 44.6rem;
    position: absolute;
    right: 47.5rem;
    bottom: 0;
  }
  #welcome .container img {
    display: inline;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

#small-team {
  position: relative;
}

#small-team .small-team-content {
  position: absolute;
  top: 30%;
  left: 8.53333%;
}

#small-team .small-team-content h2 {
  margin-bottom: 3.6rem;
}

#small-team .small-team-bg {
  width: 100%;
  height: 56rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../assets/home/mobile/image-small-team.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/home/mobile/image-small-team.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  #small-team .small-team-content {
    left: 20.18229%;
  }
  #small-team .small-team-content h2 {
    margin-bottom: 3.6rem;
  }
  #small-team .small-team-bg {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../assets/home/tablet/image-small-team.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/home/tablet/image-small-team.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 74.60938%;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  #small-team .small-team-content {
    left: 24.65278%;
  }
  #small-team .small-team-bg {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../assets/home/desktop/image-small-team.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/home/desktop/image-small-team.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#featured {
  padding: 7.2rem 0 13.2rem 0;
}

#featured .featured-title {
  margin-bottom: 5.2rem;
}

#featured .featured-title .featured-btn-top {
  display: none;
}

#featured .featured-projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2.4rem;
}

#featured .featured-projects .featured-project-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/home/mobile/image-del-sol.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/home/mobile/image-del-sol.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#featured .featured-projects .featured-project-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/home/mobile/image-228b.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/home/mobile/image-228b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#featured .featured-projects .featured-project-3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/home/mobile/image-prototype.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/home/mobile/image-prototype.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#featured .featured-btn-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.4rem;
}

@media (min-width: 768px) {
  #featured {
    padding: 20rem 0;
  }
  #featured .featured-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 8.3rem;
  }
  #featured .featured-title .featured-btn-top {
    display: inline;
  }
  #featured .featured-projects .featured-project-1 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/home/tablet/image-del-sol.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/home/tablet/image-del-sol.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #featured .featured-projects .featured-project-2 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/home/tablet/image-228b.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/home/tablet/image-228b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #featured .featured-projects .featured-project-3 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/home/tablet/image-prototype.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/home/tablet/image-prototype.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #featured .featured-btn-bottom {
    display: none;
  }
}

@media (min-width: 1024px) {
  #featured .featured-title {
    margin-bottom: 6.4rem;
  }
  #featured .featured-projects {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 3.2rem 3rem;
  }
  #featured .featured-projects .featured-project-1 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/home/desktop/image-del-sol.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/home/desktop/image-del-sol.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #featured .featured-projects .featured-project-2 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/home/desktop/image-228b.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/home/desktop/image-228b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #featured .featured-projects .featured-project-3 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/home/desktop/image-prototype.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/home/desktop/image-prototype.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#gallery {
  padding: 5.6rem 0 13.2rem 0;
}

#gallery .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2.4rem;
}

#gallery .container .featured-project-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/mobile/image-seraph.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/mobile/image-seraph.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#gallery .container .featured-project-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/mobile/image-eebox.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/mobile/image-eebox.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#gallery .container .featured-project-3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/mobile/image-federal.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/mobile/image-federal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#gallery .container .featured-project-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/mobile/image-del-sol.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/mobile/image-del-sol.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#gallery .container .featured-project-5 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/mobile/image-prototype.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/mobile/image-prototype.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#gallery .container .featured-project-6 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/mobile/image-228b.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/mobile/image-228b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#gallery .container .featured-project-7 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/mobile/image-edelweiss.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/mobile/image-edelweiss.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#gallery .container .featured-project-8 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/mobile/image-netcry.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/mobile/image-netcry.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#gallery .container .featured-project-9 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/mobile/image-hypers.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/mobile/image-hypers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#gallery .container .featured-project-10 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/mobile/image-sxiv.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/mobile/image-sxiv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#gallery .container .featured-project-11 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/mobile/image-trinity.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/mobile/image-trinity.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#gallery .container .featured-project-12 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/mobile/image-paramour.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/mobile/image-paramour.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  #gallery {
    padding: 0 0 20rem 0;
  }
  #gallery .container .featured-project-1 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/tablet/image-seraph.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/tablet/image-seraph.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #gallery .container .featured-project-2 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/tablet/image-eebox.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/tablet/image-eebox.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #gallery .container .featured-project-3 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/tablet/image-federal.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/tablet/image-federal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #gallery .container .featured-project-4 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/tablet/image-del-sol.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/tablet/image-del-sol.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #gallery .container .featured-project-5 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/tablet/image-prototype.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/tablet/image-prototype.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #gallery .container .featured-project-6 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/tablet/image-228b.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/tablet/image-228b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #gallery .container .featured-project-7 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/tablet/image-edelweiss.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/tablet/image-edelweiss.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #gallery .container .featured-project-8 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/tablet/image-netcry.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/tablet/image-netcry.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #gallery .container .featured-project-9 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/tablet/image-hypers.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/tablet/image-hypers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #gallery .container .featured-project-10 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/tablet/image-sxiv.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/tablet/image-sxiv.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #gallery .container .featured-project-11 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/tablet/image-trinity.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/tablet/image-trinity.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #gallery .container .featured-project-12 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/tablet/image-paramour.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/tablet/image-paramour.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1024px) {
  #gallery {
    padding-bottom: 16rem;
  }
  #gallery .container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 3.2rem 3rem;
  }
  #gallery .container .featured-project-1 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/desktop/image-seraph.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/desktop/image-seraph.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #gallery .container .featured-project-2 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/desktop/image-eebox.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/desktop/image-eebox.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #gallery .container .featured-project-3 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/desktop/image-federal.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/desktop/image-federal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #gallery .container .featured-project-4 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/desktop/image-del-sol.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/desktop/image-del-sol.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #gallery .container .featured-project-5 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/desktop/image-prototype.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/desktop/image-prototype.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #gallery .container .featured-project-6 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/desktop/image-228b.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/desktop/image-228b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #gallery .container .featured-project-7 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/desktop/image-edelweiss.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/desktop/image-edelweiss.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #gallery .container .featured-project-8 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/desktop/image-netcry.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/desktop/image-netcry.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #gallery .container .featured-project-9 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/desktop/image-hypers.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/desktop/image-hypers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #gallery .container .featured-project-10 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/desktop/image-sxiv.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/desktop/image-sxiv.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #gallery .container .featured-project-11 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/desktop/image-trinity.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/desktop/image-trinity.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #gallery .container .featured-project-12 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../assets/portfolio/desktop/image-paramour.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/portfolio/desktop/image-paramour.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
/*# sourceMappingURL=main.css.map */