@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #1b1d23;
}

.h1-lg {
  font-family: "Spartan", sans-serif;
  font-size: 12rem;
  font-weight: 700;
  line-height: 20rem;
  letter-spacing: -0.025;
}

@media (min-width: 768px) {
  .h1-lg {
    font-size: 20rem;
  }
}

.h1-sm {
  font-family: "Spartan", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 4.8rem;
  letter-spacing: -0.025;
}

@media (min-width: 768px) {
  .h1-sm {
    font-size: 8rem;
    line-height: 8rem;
  }
}

h2 {
  font-family: "Spartan", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.8rem;
  letter-spacing: -0.0357;
}

@media (min-width: 768px) {
  h2 {
    font-size: 5.6rem;
    line-height: 5.6rem;
  }
}

h3 {
  font-family: "Spartan", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
}

.text-white {
  color: white;
}

header nav {
  padding: 3.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .menu-togglers .icon-close {
  display: none;
}

header nav .nav-links {
  display: none;
  position: fixed;
  padding: 4.8rem 4.8rem 5.3rem;
  background: #eeeff4;
  width: 65.86667%;
  top: 9.6rem;
  right: 0;
}

header nav .nav-links ul li {
  margin-bottom: 3.7rem;
}

header nav .nav-links ul li:nth-of-type(3) {
  margin-bottom: 0;
}

header nav .nav-links ul li a {
  font-size: 1.8rem;
  font-weight: 700;
  color: #1b1d23;
  text-decoration: none;
}

@media (min-width: 768px) {
  header nav {
    padding: 5.6rem 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  header nav .logo {
    margin-right: 7.9rem;
  }
  header nav .menu-togglers {
    display: none;
  }
  header nav .nav-links {
    display: block;
    position: static;
    padding: 0;
    background: none;
  }
  header nav .nav-links ul li {
    margin-right: 4.8rem;
    display: inline-block;
  }
  header nav .nav-links ul li:nth-of-type(3) {
    margin-right: 0;
  }
  header nav .nav-links ul li a {
    color: #7d828f;
  }
}

@media (min-width: 1024px) {
  header nav {
    padding: 5.6rem 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  header nav .logo {
    margin-right: 9.5rem;
  }
  header nav .menu-togglers {
    display: none;
  }
  header nav .nav-links {
    display: block;
    position: static;
    padding: 0;
    background: none;
  }
  header nav .nav-links ul li {
    margin-right: 4.8rem;
    display: inline-block;
  }
  header nav .nav-links ul li:nth-of-type(3) {
    margin-right: 0;
  }
  header nav .nav-links ul li a {
    color: #7d828f;
  }
}

.slider {
  position: relative;
}

.slider .slider-indicators {
  position: absolute;
  bottom: 0;
  left: -8rem;
  z-index: 999;
  display: none;
}

.slider .slider-indicators ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .slider-indicators ol li .btn-num {
  border-right: 1px solid #c8ccd8;
}

.slider .slider-indicators ol li:last-of-type .btn-num {
  border: 0;
}

.slider .slider-inner .slider-item {
  position: relative;
  display: none;
}

.slider .slider-inner .slider-item.active {
  display: block;
}

.slider .slider-inner .slider-item .slider-bg {
  height: 56rem;
}

.slider .slider-inner .slider-item .slider-bg-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(../assets/home/mobile/image-hero-paramour.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../assets/home/mobile/image-hero-paramour.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slider .slider-inner .slider-item .slider-bg-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(../assets/home/mobile/image-hero-seraph.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../assets/home/mobile/image-hero-seraph.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slider .slider-inner .slider-item .slider-bg-3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(../assets/home/mobile/image-hero-federal.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../assets/home/mobile/image-hero-federal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slider .slider-inner .slider-item .slider-bg-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(../assets/home/mobile/image-hero-trinity.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../assets/home/mobile/image-hero-trinity.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slider .slider-inner .slider-item .slider-content {
  position: absolute;
  top: 25%;
  width: 82.93333%;
  left: 8.53333%;
}

.slider .slider-inner .slider-item .slider-content .h1-sm {
  margin-bottom: 1rem;
}

.slider .slider-inner .slider-item .slider-content p {
  min-height: 15.7rem;
}

@media (min-width: 768px) {
  .slider .slider-inner .slider-item .slider-bg {
    height: 72rem;
  }
  .slider .slider-inner .slider-item .slider-bg-1 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(../assets/home/tablet/image-hero-paramour.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../assets/home/tablet/image-hero-paramour.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slider .slider-inner .slider-item .slider-bg-2 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(../assets/home/tablet/image-hero-seraph.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../assets/home/tablet/image-hero-seraph.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slider .slider-inner .slider-item .slider-bg-3 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(../assets/home/tablet/image-hero-federal.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../assets/home/tablet/image-hero-federal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slider .slider-inner .slider-item .slider-bg-4 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(../assets/home/tablet/image-hero-trinity.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../assets/home/tablet/image-hero-trinity.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slider .slider-inner .slider-item .slider-content {
    width: 82.89703%;
    left: 10.12216%;
  }
}

@media (min-width: 1024px) {
  .slider .slider-indicators {
    display: block;
  }
  .slider .slider-inner .slider-item .slider-bg-1 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(../assets/home/desktop/image-hero-paramour.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../assets/home/desktop/image-hero-paramour.jpg);
  }
  .slider .slider-inner .slider-item .slider-bg-2 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(../assets/home/desktop/image-hero-seraph.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../assets/home/desktop/image-hero-seraph.jpg);
  }
  .slider .slider-inner .slider-item .slider-bg-3 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(../assets/home/desktop/image-hero-federal.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../assets/home/desktop/image-hero-federal.jpg);
  }
  .slider .slider-inner .slider-item .slider-bg-4 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(../assets/home/desktop/image-hero-trinity.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../assets/home/desktop/image-hero-trinity.jpg);
  }
  .slider .slider-inner .slider-item .slider-content {
    left: 17.11712%;
  }
  .slider .slider-inner .slider-item .slider-content p {
    width: 44.5rem;
  }
}

.btn-text {
  background: #1b1d23;
  padding: 2.3rem 3.2rem 2.6rem 3.1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
}

.btn-text:hover {
  background: #60636d;
}

.btn-text:active {
  background: #c8ccd8;
}

.btn-text span {
  margin-right: 2.4rem;
}

.btn-text img {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.btn-arrow {
  width: 8rem;
  height: 8rem;
  border: 0;
  outline: 0;
  background: #1b1d23;
}

.btn-arrow:hover {
  background: #60636d;
}

.btn-arrow:active {
  background: #c8ccd8;
}

.btn-num {
  width: 8rem;
  height: 8rem;
  border: 0;
  outline: 0;
  background: white;
  color: #7d828f;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}

.btn-num:hover {
  background: #eeeff4;
}

.btn-num.active {
  background: #1b1d23;
  color: white;
}

.container {
  width: 82.93333%;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    width: 74.60938%;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 77.08333%;
  }
}

@media (min-width: 768px) {
  #hero {
    width: 74.60938%;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  #hero {
    width: 77.08333%;
    margin: auto;
  }
}
/*# sourceMappingURL=main.css.map */