@import '../base/reset';
@import '../base/typography';
@import '../layout/header';
@import '../components/slider';
@import '../components/buttons';

.container {
  width: 311 / 375 * 100%;
  margin: auto;
}

@media (min-width: $breakpoint-tablet) {
  .container {
    width: 573 / 768 * 100%;
  }
}

@media (min-width: $breakpoint-laptop) {
  .container {
    width: 1110 / 1440 * 100%;
  }
}

@media (min-width: $breakpoint-tablet) {
  #hero {
    width: 573 / 768 * 100%;
    margin: auto;
  }
}

@media (min-width: $breakpoint-laptop) {
  #hero {
    width: 1110 / 1440 * 100%;
    margin: auto;
  }
}
