@import '../base/reset';
@import '../base/typography';
@import '../layout/header';
@import '../components/slider';
@import '../components/buttons';
@import '../layout/footer';
@import '../components/cards';

body {
  max-width: 1440px;
  margin: auto;
}

.container {
  width: 311 / 375 * 100%;
  margin: auto;
}

@media (min-width: $breakpoint-tablet) {
  .container {
    width: 573 / 768 * 100%;
  }
}

@media (min-width: $breakpoint-laptop) {
  .container {
    width: 1110 / 1440 * 100%;
  }
}

@media (min-width: $breakpoint-tablet) {
  #hero {
    width: 573 / 768 * 100%;
    margin: auto;
  }
}

@media (min-width: $breakpoint-laptop) {
  #hero {
    width: 1110 / 1440 * 100%;
    margin: auto;
  }
}

#welcome {
  padding: 7.2rem 0 15rem 0;

  .container {
    &::before {
      content: '';
      width: 3.3rem;
      border-bottom: 1px solid $light-grey;
      display: inline-block;
    }

    .h1-lg {
      display: none;
    }

    .welcome-content {
      h2 {
        margin: 6.7rem 0 3.3rem 0;
      }

      p {
        margin-bottom: 2.5rem;

        &:last-of-type {
          margin: 0;
        }
      }
    }

    img {
      display: none;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  #welcome {
    padding: 6.3rem 0 20.8rem 0;

    .container {
      &::before {
        display: none;
      }

      .h1-lg {
        display: block;
      }

      .welcome-content {
        h2 {
          margin: 5.2rem 0 4.9rem 0;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-laptop) {
  #welcome {
    padding: 7.7rem 0 20rem 0;
    height: 67.8rem;

    .container {
      position: relative;
      height: 100%;

      .welcome-content {
        width: 44.6rem;
        position: absolute;
        right: 47.5rem;
        bottom: 0;
      }

      img {
        display: inline;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
      }
    }
  }
}

#small-team {
  position: relative;

  .small-team-content {
    position: absolute;
    top: 30%;
    left: 32 / 375 * 100%;

    h2 {
      margin-bottom: 3.6rem;
    }
  }

  .small-team-bg {
    width: 100%;
    height: 56rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../assets/home/mobile/image-small-team.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: $breakpoint-tablet) {
  #small-team {
    .small-team-content {
      left: 155 / 768 * 100%;

      h2 {
        margin-bottom: 3.6rem;
      }
    }

    .small-team-bg {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../assets/home/tablet/image-small-team.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 573 / 768 * 100%;
      margin: auto;
    }
  }
}

@media (min-width: $breakpoint-laptop) {
  #small-team {
    .small-team-content {
      left: 355 / 1440 * 100%;
    }

    .small-team-bg {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../assets/home/desktop/image-small-team.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

#featured {
  padding: 7.2rem 0 13.2rem 0;

  .featured-title {
    margin-bottom: 5.2rem;

    .featured-btn-top {
      display: none;
    }
  }

  .featured-projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.4rem;

    @each $featured-project in $featured-projects {
      .featured-project-#{index($featured-projects, $featured-project)} {
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
          url('../assets/home/mobile/image-#{$featured-project}.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  .featured-btn-bottom {
    display: flex;
    justify-content: center;
    margin-top: 2.4rem;
  }
}

@media (min-width: $breakpoint-tablet) {
  #featured {
    padding: 20rem 0;

    .featured-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8.3rem;

      .featured-btn-top {
        display: inline;
      }
    }

    .featured-projects {
      @each $featured-project in $featured-projects {
        .featured-project-#{index($featured-projects, $featured-project)} {
          background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
            url('../assets/home/tablet/image-#{$featured-project}.jpg');
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }

    .featured-btn-bottom {
      display: none;
    }
  }
}

@media (min-width: $breakpoint-laptop) {
  #featured {
    .featured-title {
      margin-bottom: 6.4rem;
    }

    .featured-projects {
      grid-template-columns: repeat(3, 1fr);
      gap: 3.2rem 3rem;

      @each $featured-project in $featured-projects {
        .featured-project-#{index($featured-projects, $featured-project)} {
          background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
            url('../assets/home/desktop/image-#{$featured-project}.jpg');
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }
}
