@import '../utilities/variables';

#hero {
  .overlay-image {
    position: relative;

    img {
      width: 100%;
    }

    .overlay {
      width: 100%;
      height: calc(100vw * 240 / 375);
      background: rgba(0, 0, 0, 0.35);
      position: absolute;
      top: 0;
    }

    .blank-rectangle {
      width: 343 / 375 * 100%;
      height: 4.5rem;
      position: absolute;
      left: 0;
      bottom: 0.8rem;
      background: white;
    }
  }

  .h1-lg {
    display: none;
  }

  .hero-content {
    padding: 3.5rem 3.2rem 0;

    h2 {
      margin-bottom: 1.6rem;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  #hero {
    position: relative;

    .overlay-image {
      .overlay {
        height: calc(100vw * (572 / 768) * 720 / 573);
      }

      .blank-rectangle {
        display: none;
      }
    }

    .h1-lg {
      display: block;
      position: absolute;
      right: 0;
      bottom: 39rem;
      z-index: 999;
    }

    .hero-content {
      width: 45.6rem;
      padding: 8.8rem 0 0 5.9rem;
      position: absolute;
      right: 0;
      bottom: 0.8rem;
      background: white;

      &::before {
        content: '';
        width: 6.5rem;
        border-bottom: 1px solid $light-grey;
        display: inline-block;
      }

      h2 {
        margin: 7.4rem 0 3.5rem 0;
      }
    }
  }
}

@media (min-width: $breakpoint-laptop) {
  #hero {
    .overlay-image {
      img {
        width: auto;
      }

      .overlay {
        width: 63.5rem;
        height: 72rem;
      }
    }

    .h1-lg {
      bottom: 42.5rem;
    }

    .hero-content {
      padding: 16rem 0 0 18.2rem;
    }
  }
}
